<center>
    <img src="https://i.imgur.com/gUGq6pr.png" style="width:150px; height:auto; padding-top: 2%; margin:0" />
    <h3 class="md-headline" style="color:whitesmoke">Pizzería Angularinni</h3>
</center>