<center>
    <ul class="docs-menu" style="padding:0 !important; display:inline-block; text-align:center; width:100%">
        <li><md-button class="md-raised md-primary md-listmenu" style="margin:-0.1%; width:100%; border-radius:0px; background-color:rgb(94, 111, 199)">
                <span class="glyphicon glyphicon-search"></span> Ver pizzas
            </md-button>
        </li>
        <li><md-button class="md-raised md-primary" style="margin:-0.1%; width:100%; border-radius:0px; background-color:rgb(94, 111, 199)">
                <span class="glyphicon glyphicon-plus-sign"></span> Añadir pizza
            </md-button></li>
            <a href="javascript:document.getElementById('logoutForm').submit()" style="text-decoration:none !important">
            <li>
                <md-button class="md-raised md-primary" style="margin:-0.1%; width:100%; border-radius:0px; background-color:rgb(94, 111, 199)">

                    <span class="glyphicon glyphicon-log-out"></span> Cerrar sesión
                </md-button>
            </li>
            </a>
</ul>
</center>