<md-content class="md-padding" layout-xs="column" layout="row">
    <div layout="column">
        <md-card class="pizza-card">
            <img ng-src="{{$ctrl.img}}" class="md-card-image">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline" style="text-align: center">{{$ctrl.name | capitalize}}</span>
                </md-card-title-text>
            </md-card-title>
        </md-card>
        <md-content layout-padding>
            <form name="commentForm">
                <md-input-container class="md-block">
                    <label>Score</label>
                    <input required type="number" step="any" name="score" ng-model="$ctrl.comment.score" min="0" max="10" />
                    <div ng-messages="commentForm.score.$error" multiple md-auto-hide="false">
                        <div ng-message="required">
                            You've got to put a score!
                        </div>
                        <div ng-message="min">
                            You should score at least 0.
                        </div>
                        <div ng-message="max">
                            That's a little ridiculous.
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <textarea name="text" ng-model="$ctrl.comment.text" md-maxlength="150"></textarea>
                </md-input-container>
                <div>
                    <md-button type="submit" ng-click="$ctrl.submitComment()">Submit</md-button>
                </div>
            </form>
        </md-content>
        <md-list layout-padding flex>
            <div class="md-title">Comments</div>
            <md-list-item class="md-3-line" ng-repeat="comment in $ctrl.comments">
                <div class="md-list-item-text">
                    <h3>{{comment.user}}: {{comment.score}}</h3>
                    <h4>{{comment.created}}</h4>
                    <p>{{comment.text}}</p>
                </div>
            </md-list-item>
        </md-list>
    </div>
    <div layout="row" flex>
        <md-list layout-padding ng-show="$ctrl.hasIngridients()">
            <div class="md-title">Ingridients</div>
            <md-list-item class="md-3-line" ng-repeat="ingridient in $ctrl.ingridients">
                <div class="md-list-item-text">
                    <h3>{{ingridient.name | capitalize}}:</h3>
                    <p>{{ingridient.prize}}$</p>
                </div>
            </md-list-item>
        </md-list>
    </div>
</md-content>